.form-group .required .control-label:after {
	content: "*";
	color: red;
}

.tablaPequena td {
	padding: 1px !important;
}

textarea.form-control {
	height: 75px !important;
}

.contenido {
	width: 450px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.errorfield {
	color: #ae1d1d;
	font-style: italic;
	font-weight: bold;
	border: 1px solid #ff0000;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 1px solid #ff0000;
	padding: 8px;
	margin: 16px;
	font-style: italic;
}
/* legend.scheduler-border {
    width:inherit; Or auto
    padding:0 10px; To give a bit of padding on the left and right
    border-bottom:none;
}
 */
fieldset.scheduler-border {
	border: 1px groove #ddd !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
	width: auto;
	padding: 0 10px;
	border-bottom: none;
}

.colorCamposComisionesCalculados {
	background-color: #FFFFBF;
}

.colorCamposComisionesDisabled {
	background-color: #EAEAEA;
}

.textSizeSelect {
	font-size: 10px;
}

/*Hide Input Number Arrows*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.negrilla {
	font-weight: bold;
}

.capaAvisos {
	background-color: #6699FF;
	color: white;
}

thead.capaAvisos th {
	color: #FFFFFF;
}

nav.capaAvisos {
	border-color: #6699FF;
}

nav.capaAvisos ul.navbar-nav span {
	color: white;
}

nav.capaAvisos a.navbar-brand {
	color: white;
}

fieldset.capaAvisos {
	color: black;
	background-color: white;
	border-color: #6699FF !important;
}

.capaExpedientes {
	background-color: #FF8000;
	color: white;
}

thead.capaExpedientes th {
	color: #FFFFFF;
}

nav.capaExpedientes {
	border-color: #FF8000;
}

nav.capaExpedientes ul.navbar-nav span {
	color: white;
}

nav.capaExpedientes a.navbar-brand {
	color: white;
}

fieldset.capaExpedientes {
	color: black;
	background-color: white;
	border-color: #FF8000 !important;
}

.capaMaestros {
	background-color: #006633;
}

thead.capaMaestros span {
	color: #FFFFFF;
}

nav.capaMaestros {
	border-color: #006633;
}

nav.capaMaestros ul.navbar-nav span {
	color: white;
}

nav.capaMaestros a.navbar-brand {
	color: white;
}

fieldset.capaMaestros {
	color: black;
	background-color: white;
	border-color: #006633 !important;
}

/*colores estados Avisos*/
.celdasProvincias {
	background-color: #ddeeff !important;
	border: solid white !important;
}

.panelFondo {
	background-color: #ddeeff;
}

.celdasIniciado {
	background-color: #f2ffff;
	border: white !important;
}

.celdasPendiente {
	background-color: #e8f4ff;
	border: white !important;
}

.panelFondoExpedientes {
	background-color: #ffcf9f;
}

.celdasProvinciasExpedientes {
	background-color: #ffcf9f !important;
	border: solid white !important;
}

.celdasIniciadoExpedientes {
	background-color: #ffe4ca;
	border: white !important;
}

.celdasPendienteExpedientes {
	background-color: #fff3e8;
	border: white !important;
}

.bordeBlanco {
	border: solid white !important;
}

.separacionEntreDivs {
	margin-top: 1cm !important;
}

.table-stripedExpedientes {
	border: solid 2px white !important;
}

.badge {
	color: black !important;
	background-color: white !important;
}

.textoNegrilla {
	font-weight: bold;
}

.textoNegrilla {
	font-weight: bold;
}

.valoracionDano {
	background-color: #FFFFD7;
	font-weight: bold;
}

.chosen-select-short div div ul {
	max-height: 125px !important;
}

.iconoEntorno {
	color: #fff;
	display: inline-block;
	font-size: 1.26em !important;
	font: normal normal normal 14px/1 FontAwesome;
	margin-right: 22px;
	text-align: center;
	text-rendering: auto;
	text-shadow: -1px -1px #700;
	vertical-align: -10%;
}

.iconoPie {
	font-size: 1.1em;
	margin-right: 4px;
	vertical-align: top;
}

.iconoAzul {
	color: #009ee0;
	font-size: 25px;
	left: 0;
	top: 0;
	transition: color .2s ease;
}

.iconoMovil {
	color: #009ee0;
	font-size: 20px;
}

.cabeceraInformes {
	background-color: #59C5DF;
}

#main-footer #footer-info #footer-menu ul li em {
	font-size: 1.1em;
	vertical-align: top;
	margin-right: 4px;
}

.shortth {
	width: 10% !important;
}

.text-secondary {
	color: #009ee0;
}

<
style>.table-stripedExpedientes>tbody>tr: nth-child (odd )>td,
	.table-stripedExpedientes>tbody>tr:nth-child(odd)>th {
	background-color: #ffe4ca;
	border: solid white !important;
}

.table-stripedExpedientes>tbody>tr:nth-child(even)>td,
	.table-stripedExpedientes>tbody>tr:nth-child(even)>th {
	background-color: #fff3e8;
	border: solid white !important;
}

}
.table-stripedExpedientes>thead>tr>th {
	background-color: #FF8000;
	border: solid white !important;
}

.separacionTop {
	margin-top: 3mm !important;
}

.table-tableNonExtensibles>thead>tr>th {
	width: 25% !important;
}

.table-tableExtensibles>thead>tr>th {
	width: 33% !important;
}

.centrarTexto {
	text-align-last: center !important;
	padding: 9px;
}

.separacionLeft {
	margin-left: 10mm !important;
}

.tabs-centrados {
	margin-left: 20px;
}

.capaSede {
	background-color: #7433FF;
}

thead.capaSede th {
	color: #FFFFFF;
}

nav.capaSede {
	border-color: #7433FF;
	color: white;
}

nav.capaSede ul.navbar-nav span {
	color: white;
}

nav.capaSede a.navbar-brand {
	color: white;
}

fieldset.capaSede {
	color: black;
	background-color: white;
	border-color: #7433FF !important;
}
style
>